$color-btn: #5f9ea0;
$color-btn-active: #4f8283;
table{
    border: 0;
    border-spacing: 0;
}
thead tr{
    background: none;
}
tr:nth-child(odd){
    background: lightgoldenrodyellow;
}
tr td{
    padding: 4px 15px;
    &:first-child{
        padding-right: 0;
        text-align: right;
    }
}
button{
    background: $color-btn;
    border: 0;
    padding: 10px 14px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    outline: none;
    &:active{
        background: $color-btn-active;
    }
}
.modal-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal{
        max-width: 300px;
        background: white;
        border-radius: 4px;
        box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75);
        overflow: hidden;
        .title{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            background: cadetblue;
            color: white;
            font-weight: bold;
            padding: 10px 10px 10px 15px;
        }
        .content{
            padding: 15px 0;
        }
    }
}
