<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>User name</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td><button (click)="goto('home', i)" >More details</button></td>
    </tr>
  </tbody>
</table>
<div *ngIf="showDetails" class="modal-container">
  <div class="modal">
    <div class="title">
      <span>{{user.username}}</span>
      <button (click)="goto('home')">x</button>
    </div>
    <div class="content">
      <table>
        <tbody>
          <tr><td>ID:</td><td>{{user.id}}</td></tr>
          <tr><td>Name:</td><td>{{user.name}}</td></tr>
          <tr><td>Email:</td><td>{{user.email}}</td></tr>
          <tr><td>Phone:</td><td>{{user.phone}}</td></tr>
          <tr><td>Website:</td><td>{{user.website}}</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>